@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
body{
  z-index: 100;
}
@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}

.animate-slide-in {
  animation: slide-in 0.65s ease-in-out forwards;
}

.animate-slide-out {
  animation: slide-out 0.5s ease-in-out forwards;
}