@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body, p , h1, li, button, input, h2, h3, h4, h5, h6{
    font-family: "Roboto", sans-serif;
}


.robo{
    font-family: "Roboto", sans-serif;
}
.cri{
    font-family: "Crimson Text", serif;
}
body::-webkit-scrollbar {
    width: 8px;
    @apply mx-4;
    max-height: 6px;
  }
  
  body::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  body::-webkit-scrollbar-thumb {
    @apply bg-primary;
    border-radius: 10px;
    max-height: 6px;
  }
  
  body::-webkit-scrollbar-thumb:hover {
    @apply bg-primary;
    max-height: 6px;
  }